<!DOCTYPE html>
<html>
<head>
  <title>RolemCompay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <%= csrf_meta_tags %>
  <script type="text/javascript">



  </script>
</head>
<body>

<%= yield %>

</body>
</html>
